{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    <form method="post" attribute="post" id ="form" action="">
        <p>First Value: <input type="number" id="operandA" name="operandA"></p>
        <p>Second Value:
            <input type="number" id="operandB" name="operandB">
        </p>

        <p>Result: <div id="result"></div></p>
        <input type="button" class="button" name="addition" id="add" value="add">
        <input type="button" class="button" name="substract" id="sub" value="Sub">
        <input type="button" class="button" name="division" id="div" value="Divide">
        <input type="button" class="button" name="multiply" id="mul" value="Multiply">
        <input type="button" class="button" name="and" id="and" value="AND">
        <input type="button" class="button" name="or" id="or" value="OR">
    </form>

{% endblock %}